{% extends "base.html" %}

{% block title %}Patrol Car Project!{% endblock %}

{% block page_content %}
<div class="page-header">
	<body>
		<h1 style="font-size:400%">Hello, visitor!</h1>
		<h3 style="font-size:200%">This is the web page for the <b>patrol car project.</b></h4>
		<br>
		<h3 style="font-size:200%">Patrol vehicle robots fuse lidar sensor and camera sensors to perform autonomous driving, and have the following functions.</h4>
		<br>
		<ol>
			<h4 style="font-size:150%">
			<li>Identify and photograph speeding vehicles.</li>
			<li>Recognize the accident site and take photos and action.</li>
			<li>Recognize defective lane and receive loaction information through GPS</li>
			</h4>
		</ol>
		<img src="{{url_for('static', filename='/img/walk.gif')}}">
	</body>
</div>
{% endblock %}
